@import "tailwindcss";

@theme {
  --color-navy: #001427;
  --color-navy-light: #00213d;
  --color-blue-accent: #0070f3;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: #001427;
}